# Título do Banco
blá blá blá

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv("airline.csv")

In [7]:
df

           Country Airline passengers carried  Year
0    United States                666,153,000  2021
1            China                440,301,216  2021
2           Russia                 96,851,770  2021
3            India                 83,964,797  2021
4          Ireland                 74,065,210  2021
..             ...                        ...   ...
172         Malawi                      1,290  2021
173          Benin                        900  2016
174        Estonia                        860  2019
175    North Korea                        520  2021
176         Monaco                        320  2017

[177 rows x 3 columns]

In [8]:
#função head() 
## Exibe as linhas iniciais, as 5 primeiras linhas. Lembrando que no Python a linha 0 é sempre considerada. 

df.head()

         Country Airline passengers carried  Year
0  United States                666,153,000  2021
1          China                440,301,216  2021
2         Russia                 96,851,770  2021
3          India                 83,964,797  2021
4        Ireland                 74,065,210  2021

In [9]:
# Função tail
## Ao invés de mostrar as 5 primeiras linhas, a função tail mostra as ÚLTIMAS 5 linhas
df.tail()

         Country Airline passengers carried  Year
172       Malawi                      1,290  2021
173        Benin                        900  2016
174      Estonia                        860  2019
175  North Korea                        520  2021
176       Monaco                        320  2017

In [10]:
# A função shape ajuda a encontrar a dimensão de uma array. Na sua tradução literal, array é arranjo ou vetor
# aqui a array se trata de um conjunto de dados. Ou seja o banco possui 177 linhas e 3 colunas
df.shape

(177, 3)

In [11]:
# A função mostra estatística descritiva, ou seja, as tendências centrais como: média, desvio padrão, 
#máximo, mínimo e outros.
df.describe

<bound method NDFrame.describe of            Country Airline passengers carried  Year
0    United States                666,153,000  2021
1            China                440,301,216  2021
2           Russia                 96,851,770  2021
3            India                 83,964,797  2021
4          Ireland                 74,065,210  2021
..             ...                        ...   ...
172         Malawi                      1,290  2021
173          Benin                        900  2016
174        Estonia                        860  2019
175    North Korea                        520  2021
176         Monaco                        320  2017

[177 rows x 3 columns]>

In [12]:
#
df.dtypes

Country                       object
Airline passengers carried    object
Year                           int64
dtype: object

In [14]:
df_menor = df.sample(10)

df_menor = df_menor.reset_index(drop=True)

df_menor

              Country Airline passengers carried  Year
0  Dominican Republic                     69,450  2021
1              Belize                    670,360  2021
2               Samoa                      7,210  2021
3             Finland                  2,805,550  2021
4         Switzerland                 10,988,880  2021
5          Seychelles                    137,560  2021
6            Pakistan                  4,930,660  2021
7             Bolivia                  4,311,880  2021
8            Ethiopia                  7,065,950  2021
9             Myanmar                  1,132,660  2021

In [15]:
df [:6]

         Country Airline passengers carried  Year
0  United States                666,153,000  2021
1          China                440,301,216  2021
2         Russia                 96,851,770  2021
3          India                 83,964,797  2021
4        Ireland                 74,065,210  2021
5         Turkey                 69,065,870  2021

In [16]:
mini_df = df [:6]
mini_df

         Country Airline passengers carried  Year
0  United States                666,153,000  2021
1          China                440,301,216  2021
2         Russia                 96,851,770  2021
3          India                 83,964,797  2021
4        Ireland                 74,065,210  2021
5         Turkey                 69,065,870  2021

In [17]:
df.columns

Index(['Country', 'Airline passengers carried', 'Year'], dtype='object')