#  Projeto Semana 11 
Olá! Aqui nesse documento irei apresentar  uma base de dados que contém informações a respeito do ranking dos Games da Nintendo mais vendidos e algumas características dos Games.

O arquivo está em formato .cvs e se chama rankGamesSales.csv.

## Descrição da Tabela

A Tabela dispõe de: 
14 linhas 
7 Coluna(campos) (Id,Rank,Platform,Year,Genre,Publisher).
das colunas, apenas a coluna Id, Rank e Year, são do tipo Integer.
as demais, são em String.

# Processamento

In [1]:
#Instalação da Biblioteca Pandas
!pip install pandas

Requirement already satisfied: pandas in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\usuario\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
# Import do Pandas e apelido.

import pandas as pd

In [53]:
# Leitura do DataFrame 
df_games = pd.read_csv("rankGamesSales.csv")


# Exibição da Base de Dados 
df_games.head()

   Rank               Name Platform  Year     Genre Publisher
0     1         Wii Sports      Wii  2006    Sports  Nintendo
1     2  Super Mario Bros.      NES  1985  Platform  Nintendo
2     3     Mario Kart Wii      Wii  2008    Racing  Nintendo
3     3     Mario Kart Wii      Wii  2008    Racing  Nintendo
4     4  Wii Sports Resort      Wii  2009    Sports  Nintendo

In [58]:
#Exibindo 3 primeiros registro do DF 
df_menor = df_games [:3]
df_menor

   Rank               Name Platform  Year     Genre Publisher
0     1         Wii Sports      Wii  2006    Sports  Nintendo
1     2  Super Mario Bros.      NES  1985  Platform  Nintendo
2     3     Mario Kart Wii      Wii  2008    Racing  Nintendo

In [54]:
# Valor do Shape da Tabela 
df_games.shape

(15, 6)

In [48]:
# Removendo linhas duplicadas
#Observação o índice de número 3 foi removido
df_games = pd.read_csv("rankGamesSales.csv")
df_games_noduplicated = df_games.drop_duplicates()
df_games_noduplicated

    Rank                         Name Platform  Year         Genre Publisher
0      1                   Wii Sports      Wii  2006        Sports  Nintendo
1      2            Super Mario Bros.      NES  1985      Platform  Nintendo
2      3               Mario Kart Wii      Wii  2008        Racing  Nintendo
4      4            Wii Sports Resort      Wii  2009        Sports  Nintendo
5      5     Pokemon Red/Pokemon Blue       GB  1996  Role-Playing  Nintendo
6      6                       Tetris       GB  1989        Puzzle  Nintendo
7      7        New Super Mario Bros.       DS  2006      Platform  Nintendo
8      8                     Wii Play      Wii  2006          Misc  Nintendo
9      9    New Super Mario Bros. Wii      Wii  2009      Platform  Nintendo
10    10                    Duck Hunt      NES  1984       Shooter  Nintendo
11    11                   Nintendogs       DS  2005    Simulation  Nintendo
12    12                Mario Kart DS       DS  2005        Racing  Nintendo
13    13  Pokemon Gold/Pokemon Silver       GB  1999  Role-Playing  Nintendo
14    14                      Wii Fit      Wii  2007        Sports  Nintendo

In [49]:
# Valor do Shape sem estar duplicado
df_games_noduplicated.shape

(14, 6)

In [22]:
# Mostrando os dados dos Games criados do ano mais antigo pro ano mais atual

df_games.sort_values(by='Year')df_games = pd.read_csv("rankGamesSales.csv")

    Rank                         Name Platform  Year         Genre Publisher
10    10                    Duck Hunt      NES  1984       Shooter  Nintendo
1      2            Super Mario Bros.      NES  1985      Platform  Nintendo
6      6                       Tetris       GB  1989        Puzzle  Nintendo
5      5     Pokemon Red/Pokemon Blue       GB  1996  Role-Playing  Nintendo
13    13  Pokemon Gold/Pokemon Silver       GB  1999  Role-Playing  Nintendo
11    11                   Nintendogs       DS  2005    Simulation  Nintendo
12    12                Mario Kart DS       DS  2005        Racing  Nintendo
0      1                   Wii Sports      Wii  2006        Sports  Nintendo
7      7        New Super Mario Bros.       DS  2006      Platform  Nintendo
8      8                     Wii Play      Wii  2006          Misc  Nintendo
14    14                      Wii Fit      Wii  2007        Sports  Nintendo
2      3               Mario Kart Wii      Wii  2008        Racing  Nintendo
3      3               Mario Kart Wii      Wii  2008        Racing  Nintendo
4      4            Wii Sports Resort      Wii  2009        Sports  Nintendo
9      9    New Super Mario Bros. Wii      Wii  2009      Platform  Nintendo

In [37]:
# Deleção de Colunas 
df_games = pd.read_csv("rankGamesSales.csv")
df_drop_column = df_games.drop(columns=['Year'])
df_drop_column

    Rank                         Name Platform         Genre Publisher
0      1                   Wii Sports      Wii        Sports  Nintendo
1      2            Super Mario Bros.      NES      Platform  Nintendo
2      3               Mario Kart Wii      Wii        Racing  Nintendo
3      3               Mario Kart Wii      Wii        Racing  Nintendo
4      4            Wii Sports Resort      Wii        Sports  Nintendo
5      5     Pokemon Red/Pokemon Blue       GB  Role-Playing  Nintendo
6      6                       Tetris       GB        Puzzle  Nintendo
7      7        New Super Mario Bros.       DS      Platform  Nintendo
8      8                     Wii Play      Wii          Misc  Nintendo
9      9    New Super Mario Bros. Wii      Wii      Platform  Nintendo
10    10                    Duck Hunt      NES       Shooter  Nintendo
11    11                   Nintendogs       DS    Simulation  Nintendo
12    12                Mario Kart DS       DS        Racing  Nintendo
13    13  Pokemon Gold/Pokemon Silver       GB  Role-Playing  Nintendo
14    14                      Wii Fit      Wii        Sports  Nintendo

In [7]:
# Registros onde a tabela Genre seja apenas o valor Sport.
df_games = pd.read_csv("rankGamesSales.csv")
df_games.loc [df_games['Genre'] == 'Sports']

    Rank               Name Platform  Year   Genre Publisher
0      1         Wii Sports      Wii  2006  Sports  Nintendo
4      4  Wii Sports Resort      Wii  2009  Sports  Nintendo
14    14            Wii Fit      Wii  2007  Sports  Nintendo

In [30]:
# criando um dicionario para criar um dataframe do zero
df_games_campo_null = {'Rank': [1,2,3,],
         'Name': ['Wii Sports', 'Wii Fit','Wii Sports Resort'],
         'Platform': [None, 'Wii', 'DS'],
         'Year': [2010,2010,2003,],
         'Genre': ['Sports', 'Adventure', 'Sports'],
         'Publisher': ['Nintendo', 'Nintendo', 'Nintendo']
         
}
df_games_campo_null = pd.DataFrame(df_games_campo_null)
df_games_campo_null

#Criei esse DF com campo Nulo para dar seguimento a função de remoção do Campo Nulo.

   Rank               Name Platform  Year      Genre Publisher
0     1         Wii Sports     None  2010     Sports  Nintendo
1     2            Wii Fit      Wii  2010  Adventure  Nintendo
2     3  Wii Sports Resort       DS  2003     Sports  Nintendo

In [31]:
#Removendo Campo Nulo
df_games_campo_null.dropna(subset=['Platform'])

   Rank               Name Platform  Year      Genre Publisher
1     2            Wii Fit      Wii  2010  Adventure  Nintendo
2     3  Wii Sports Resort       DS  2003     Sports  Nintendo

In [38]:
#Resetando o Index do Primeiro DF que estava tratando.
df_games.reset_index(inplace=True)
df_games

,index,Rank,Name,Platform,Year,Genre,Publisher
0,0,1,Wii Sports,Wii,2006,Sports,Nintendo
1,1,2,Super Mario Bros.,NES,1985,Platform,Nintendo
2,2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo
3,3,3,Mario Kart Wii,Wii,2008,Racing,Nintendo
4,4,4,Wii Sports Resort,Wii,2009,Sports,Nintendo
5,5,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo
6,6,6,Tetris,GB,1989,Puzzle,Nintendo
7,7,7,New Super Mario Bros.,DS,2006,Platform,Nintendo
8,8,8,Wii Play,Wii,2006,Misc,Nintendo
9,9,9,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo
10,10,10,Duck Hunt,NES,1984,Shooter,Nintendo
11,11,11,Nintendogs,DS,2005,Simulation,Nintendo
12,12,12,Mario Kart DS,DS,2005,Racing,Nintendo
13,13,13,Pokemon Gold/Pokemon Silver,GB,1999,Role-Playing,Nintendo
14,14,14,Wii Fit,Wii,2007,Sports,Nintendo

In [46]:
# Traduzindo Colunas do DF 
!pip install googletrans
import pandas
from googletrans import Translator
tradutor = Translator()

Requirement already satisfied: googletrans in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (3.0.0)
Requirement already satisfied: httpx==0.13.3 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from googletrans) (0.13.3)
Requirement already satisfied: certifi in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans) (2023.7.22)
Requirement already satisfied: hstspreload in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans) (2023.1.1)
Requirement already satisfied: sniffio in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans) (1.3.0)
Requirement already satisfied: chardet==3.* in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans) (3.0.4)
Requirement already satisfied: idna==2.* in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans) (2.10)
Requirement already satisfied: rfc3986<2,>=1.3 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans) (1.5.0)
Requirement already satisfied: httpcore==0.9.* in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from httpx==0.13.3->googletrans) (0.9.1)
Requirement already satisfied: h11<0.10,>=0.8 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (0.9.0)
Requirement already satisfied: h2==3.* in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in c:\users\usuario\appdata\local\programs\python\python311\lib\site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (3.0.0)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [49]:
#Tradução dos nomes das Colunas do primeiro DF (EN-PT)
colunas = ['Rank','Name','Platform','Year','Genre','Publisher']
colunastradz = ['Posição', 'Nome', 'Plataforma', 'Ano', 'Gênero', 'Marca']

df_games = pd.read_csv("rankGamesSales.csv", sep= ',', usecols = colunas)
df_games.columns = colunastradz
df_games.head(15)

,Posição,Nome,Plataforma,Ano,Gênero,Marca
0,1,Wii Sports,Wii,2006,Sports,Nintendo
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo
3,3,Mario Kart Wii,Wii,2008,Racing,Nintendo
4,4,Wii Sports Resort,Wii,2009,Sports,Nintendo
5,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo
6,6,Tetris,GB,1989,Puzzle,Nintendo
7,7,New Super Mario Bros.,DS,2006,Platform,Nintendo
8,8,Wii Play,Wii,2006,Misc,Nintendo
9,9,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo
10,10,Duck Hunt,NES,1984,Shooter,Nintendo
11,11,Nintendogs,DS,2005,Simulation,Nintendo
12,12,Mario Kart DS,DS,2005,Racing,Nintendo
13,13,Pokemon Gold/Pokemon Silver,GB,1999,Role-Playing,Nintendo
14,14,Wii Fit,Wii,2007,Sports,Nintendo

In [50]:
#criando uma cópia do DF 
df_games.copy(deep=True)

,Posição,Nome,Plataforma,Ano,Gênero,Marca
0,1,Wii Sports,Wii,2006,Sports,Nintendo
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo
3,3,Mario Kart Wii,Wii,2008,Racing,Nintendo
4,4,Wii Sports Resort,Wii,2009,Sports,Nintendo
5,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo
6,6,Tetris,GB,1989,Puzzle,Nintendo
7,7,New Super Mario Bros.,DS,2006,Platform,Nintendo
8,8,Wii Play,Wii,2006,Misc,Nintendo
9,9,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo
10,10,Duck Hunt,NES,1984,Shooter,Nintendo
11,11,Nintendogs,DS,2005,Simulation,Nintendo
12,12,Mario Kart DS,DS,2005,Racing,Nintendo
13,13,Pokemon Gold/Pokemon Silver,GB,1999,Role-Playing,Nintendo
14,14,Wii Fit,Wii,2007,Sports,Nintendo

In [51]:
#Exportando DF para CSV
df_games.to_csv("DF_exportado.csv")

#Insigts

- Comparei as Aulas de Banco de Dados (dada na semana 10) e a aula de Análise de Dados.
 Percebi que o processo de CRUD do banco de dados também pode ser realizado dentro do tratamento de dados no Pandas. Só que no pandas fazemos na linguagem Python e no SGBD usamos SQL, como na semana passada ou pode ser outra linguagem dependendo do SGBD.