In [181]:
import pandas as pd

# PERFORMANCE ESTUDANTIL: 
Aqui temos as informações de estudantes, dos gêneros masculinos e femeninos, que mostram suas notas em matemática, leitura e escrita. <br>
Alguns deles tem curso de preparação para testes e outros não.

### Os tópicos são:
- gênero
- raça/etnia 
- nível de escolaridade dos pais
- almoço
- curso preparatório para exame
- pontuação em matemática
- pontuação em leitura
- pontuação em escrita

In [182]:
df = pd.read_csv('StudentsPerformance.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [183]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [184]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [185]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [186]:
df_sort = df.sample(25)
df_sort

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
367,male,group C,bachelor's degree,free/reduced,none,61,66,61
706,male,group D,high school,standard,none,46,34,36
876,male,group D,some college,standard,none,81,82,84
555,female,group C,some college,free/reduced,none,32,39,33
753,female,group C,some high school,standard,completed,77,90,85
129,female,group A,bachelor's degree,standard,none,51,49,51
781,female,group B,master's degree,standard,none,77,90,84
594,female,group C,bachelor's degree,standard,completed,92,100,99
49,male,group C,high school,standard,completed,82,84,82
191,male,group D,some college,standard,completed,76,83,79
823,female,group B,high school,free/reduced,none,71,87,82
909,male,group E,bachelor's degree,standard,completed,70,64,70
782,female,group B,high school,free/reduced,completed,76,85,82
452,female,group C,associate's degree,free/reduced,none,65,77,74
237,female,group D,some high school,standard,completed,64,60,74
821,female,group D,bachelor's degree,free/reduced,none,78,90,93
332,male,group E,associate's degree,standard,completed,62,56,53
976,male,group B,some college,free/reduced,completed,60,62,60
247,female,group B,high school,standard,completed,58,70,68
584,female,group D,some college,standard,none,69,77,77
167,female,group B,master's degree,free/reduced,completed,58,76,78
157,male,group B,some college,free/reduced,none,60,60,60
963,female,group C,some high school,free/reduced,completed,65,76,75
527,female,group C,high school,free/reduced,none,36,53,43
539,male,group A,associate's degree,standard,completed,97,92,86

In [187]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [188]:
#Criar o pre processamento:
def df_processamento(df):
    colunas = list(df.columns)

    dado_nulo = df.isnull().sum()

    dado_duplicado = df.duplicated()

    sortear_valores = df.sample(25)

    num_fem = df.loc[df['gender'] == 'female'].shape

    num_male = df.loc[df['gender'] == 'male'].shape

    groupA = df.loc[df['race/ethnicity'] == 'group A'].shape

    groupB = df.loc[df['race/ethnicity'] == 'group B'].shape

    groupC = df.loc[df['race/ethnicity'] == 'group C'].shape

    groupD = df.loc[df['race/ethnicity'] == 'group D'].shape

    groupE = df.loc[df['race/ethnicity'] == 'group E'].shape

    num_preparation_course_none = df['test preparation course'].str.count('none').sum()

    num_preparation_course_completed = df['test preparation course'].str.count('completed').sum()
    
    return colunas, dado_nulo, dado_duplicado, sortear_valores, num_fem, num_male, groupA, groupB, groupC, groupD, groupE, num_preparation_course_none, num_preparation_course_completed

In [189]:
colunas, dado_nulo, dado_duplicado, sortear_valores, num_fem, num_male, groupA, groupB, groupC, groupD, groupE, num_preparation_course_none, num_preparation_course_completed = df_processamento(df)

In [190]:
# Pergutnas que me fiz: 
# Quantas mulheres ok
# quantos homens ok
# media de cada gênero em matemática, leitura e escrita ok
# quantos completaram o curso de teste preparatório ok
# quantos deles são homens e quantas são mulheres

In [191]:
#chamar as funções para ver se roda:
colunas

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [192]:
dado_nulo

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [193]:
dado_duplicado

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [194]:
sortear_valores

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
760,female,group C,high school,free/reduced,none,53,72,64
177,female,group C,associate's degree,standard,completed,71,77,77
503,female,group E,associate's degree,standard,completed,95,89,92
892,female,group A,master's degree,free/reduced,none,50,67,73
893,male,group D,some high school,standard,completed,88,74,75
609,female,group B,associate's degree,standard,none,58,63,65
290,male,group C,associate's degree,standard,none,76,70,68
776,female,group B,high school,standard,none,66,72,70
990,male,group E,high school,free/reduced,completed,86,81,75
333,male,group B,associate's degree,standard,none,90,78,81
425,female,group C,some college,free/reduced,none,62,67,62
663,female,group C,high school,standard,none,65,69,67
402,female,group A,some college,free/reduced,none,49,65,55
242,female,group D,high school,standard,none,56,52,55
182,female,group E,high school,standard,none,50,50,47
303,male,group B,associate's degree,standard,none,80,76,64
767,male,group B,high school,standard,completed,76,62,60
258,female,group B,some college,standard,none,70,75,78
950,male,group E,high school,standard,none,94,73,71
961,female,group D,some high school,free/reduced,none,48,54,53
582,female,group D,bachelor's degree,free/reduced,none,63,73,78
44,female,group E,associate's degree,free/reduced,none,50,56,54
598,female,group D,high school,standard,none,69,77,73
440,female,group C,some college,standard,completed,67,81,79
858,male,group B,high school,standard,completed,52,49,46

In [195]:
num_male

(482, 8)

In [196]:
num_fem

(518, 8)

In [197]:
groupA

(89, 8)

In [198]:
groupB

(190, 8)

In [199]:
groupC

(319, 8)

In [200]:
groupD

(262, 8)

In [201]:
groupE

(140, 8)

In [202]:
num_preparation_course_none

642

In [203]:
num_preparation_course_completed

358

In [204]:
def resultados_processamento(df):
    def calcular_notas(df):
        nota_math_fem = df.loc[df['gender'] == 'female', 'math score']

        nota_math_male = df.loc[df['gender'] == 'male', 'math score']

        nota_reading_fem = df.loc[df['gender'] == 'female', 'reading score']

        nota_reading_male = df.loc[df['gender'] == 'male', 'reading score']

        nota_writing_fem = df.loc[df['gender'] == 'female', 'writing score']

        nota_writing_male = df.loc[df['gender'] == 'male', 'writing score']

        return nota_math_fem, nota_math_male, nota_reading_fem, nota_reading_male, nota_writing_fem, nota_writing_male

    def medias(notas):
        return notas.mean().round(1)
        
    notas = calcular_notas(df)
    
    media_math_fem = medias(notas[0])
    media_math_male = medias(notas[1])
    media_reading_fem = medias(notas[2])
    media_reading_male = medias(notas[3])
    media_writing_fem = medias(notas[4])
    media_writing_male = medias(notas[5]) 


    return media_math_fem, media_math_male, media_reading_fem, media_reading_male, media_writing_fem, media_writing_male

In [205]:
media_math_fem, media_math_male, media_reading_fem, media_reading_male, media_writing_fem, media_writing_male = resultados_processamento(df)

In [206]:
media_math_fem

63.6

In [207]:
media_math_male

68.7

In [208]:
media_reading_fem

72.6

In [209]:
media_reading_male

65.5

In [210]:
media_writing_fem

72.5

In [211]:
media_writing_male

63.3

### Vou criar um banco de dados, novo, com os dados que colhi.

In [212]:
import sqlite3

In [213]:
banco = sqlite3.connect("dados_colhidos.db")

In [214]:
cursor = banco.cursor()

In [215]:
# cursor.execute("""
# CREATE TABLE dados_colhidos 
# (num_mulheres INTEGER,
# num_homens INTEGER,
# quant_grupo_a INTEGER,
# quant_grupo_b INTEGER,
# quant_grupo_c INTEGER,
# quant_grupo_d INTEGER,
# quant_grupo_e INTEGER,
# media_mat_fem INTEGER,
# media_mat_masc INTEGER,
# media_escrita_fem INTEGER,
# media_escrita_masc INTEGER,
# media_leitura_fem INTEGER,
# media_leitura_masc INTEGER)
# """)

In [216]:
cursor.execute("INSERT INTO dados_colhidos VALUES (518, 482, 89, 190, 319, 262, 140, 63.6, 68.7, 72.5, 63.3, 72.6, 65.5)")

In [219]:
# banco.commit()

In [220]:
# cursor.execute("SELECT * FROM dados_colhidos")

In [221]:
# dados_colhidos = 'dados_colhidos'

In [222]:
# connect = sqlite3.connect('dados_colhidos.db')

In [223]:
# df_dados_colhidos = pd.read_sql(f"SELECT * FROM {dados_colhidos}", connect)

In [224]:
# connect.close()

In [225]:
df_dados_colhidos

,num_mulheres,num_homens,quant_grupo_a,quant_grupo_b,quant_grupo_c,quant_grupo_d,quant_grupo_e,media_mat_fem,media_mat_masc,media_escrita_fem,media_escrita_masc,media_leitura_fem,media_leitura_masc
0,518,482,89,190,319,262,140,63.6,68.7,72.5,63.3,72.6,65.5

In [226]:
df_dados_colhidos['teste_preparatório_concluido'] = 358

In [228]:
df_dados_colhidos['sem_teste_preparatório'] = 642

In [229]:
df_dados_colhidos.rename(columns={'teste_preparatório_concluido' : 'com_teste_preparatório'}, inplace=True)

In [230]:
df_dados_colhidos

,num_mulheres,num_homens,quant_grupo_a,quant_grupo_b,quant_grupo_c,quant_grupo_d,quant_grupo_e,media_mat_fem,media_mat_masc,media_escrita_fem,media_escrita_masc,media_leitura_fem,media_leitura_masc,com_teste_preparatório,sem_teste_preparatório
0,518,482,89,190,319,262,140,63.6,68.7,72.5,63.3,72.6,65.5,358,642

In [ ]:
df_dados_colhidos.to_csv("novo_bd_dados_colhidos.csv")

# Insights:

Como mostrado a cima temos: 
- Mulheres: 518
- Homens: 482
- Pessoas no grupo A: 89
- Pessoas no grupo B: 190
- Pessoas no grupo C: 319
- Pessoas no grupo D: 262
- Pessoas no grupo E: 140
- Média feminina em matemática: 63.6/100 
- Média feminina em escrita: 72.5/100
- Média femenina em leitura: 72.6/100
- Média masculina em matemática: 68.7/100
- Média masculina em escrita: 63.3/100
- Média masculina em leitura: 65.5/100
- Pessoas que tiveram e concluiram o teste preparatório: 358/1000
- Pessoas que não estiveram em um teste preparatório: 642